/*
 
COLORS
#fff, #eee, #ccc, #ddd, #aaa, #999, #888

*/

body {
    margin: 0px;
    font-family: Roboto;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* HEADER */

toolbar {
    background-color: #ddd;
}

toolbar ul {
    margin: 0;
    padding: 3px;
}

toolbar li {
    display: inline-block;
}

toolbar li:hover {
    background-color: #82b1ff;
}

.selectedTool {
    background-color: #5af;
    border: 1px solid #aaa;
}

#systemToolbar {
    background-color: #eee;
    padding: 1px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    cursor: default;
}

.unsaved {
    font-size: 0;
}

.unsaved:before {
    content: '* Changes not saved *';
    font-size: 14px;
}

#map-status {
    margin-left: 20px;
}

#systemToolbar li {
    padding: 2px 4px 2px 4px;
}

#editor-bar ul {
    display: inline-block;
}

#editor-bar span {
    margin: 2px 7px;
}

/* stamp for show selected tiles */

#stamp {
    position: absolute;
    pointer-events: none;
    opacity: 0.7;
}

#stamp canvas {
    position: unset !important;
}

/* tool icons */

.toolIcon {
    display: inline-block;
    list-style-type: none;
    display: inline-block;
}

.toolIcon span {
    background-repeat: no-repeat;
    background-image: url(../img/MapEditorTools.png);
    display: block;
    width: 32px;
    height: 32px;
}

.divider {
    display: inline-block;
    border-left: 1px solid #aaa;
    height: 32px;
}

.newMap {
    background-position: 0px -96px; 
}

.openMap {
    background-position: -32px -32px; 
}

.saveMap {
    background-position: 0px -32px;
}

.stampMap {
    background-position: 0px 0px;
}

.eraserMap {
    background-position: -64px 0px;
}

/* MAIN */

main {
    display: flex;
    height: 100%;
}

main header {
    background-color: #aaa;
    padding: 3px;
    font-size: small;
}

.popTool {
    display: flex;
    background-color: #ddd;
    padding: 0px 5px 5px 5px;
}

.toolContent {
    display: flex;
    flex-direction: column;
}

.toolContent button {
    margin-top: 5px;
    cursor: pointer;
    height: 45px;
}

#tileLayers {
    flex: 1;
    list-style-type: none;
    padding: 0px;
    overflow-y: auto;
}

#tileLayers li {
    text-align: center;
    border: 1px solid #999;
    background-color: #aaa;
    margin-bottom: 5px;
    cursor: pointer;
}

#tileLayers .selected {
    background-color: white;
}

#mapArea {
    flex: 1;
    background-color: #888;
    overflow: scroll;
}

#mapArea canvas {
    position: absolute;
}

#tileSetTabs {
    padding-top: 10px;
}

#tileSetTabs span {
    border: 1px solid #999;
    padding: 1px 20px 1px 20px;
    background-color: #ccc;
    font-size: small;
    display: inline-block;
    cursor: pointer;
}

#tileSetTabs .selectedTab {
    background-color: #fff;
    padding-top: 3px;
}

#tileSetSheets {
    position: relative;
    overflow: scroll;
    flex: 1;
}

#hightLight {
    position: absolute;
}
