body {
    margin: 0px;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

main {
    position: relative;
}

main canvas {
    position: absolute;
    left: 0px;
    top: 0px;
}

/*

 CHAT BOX

*/

#chatbox {
    background-color: #333;
    border-radius: 5px;
    cursor: move;
    display: flex;
    flex-direction: column;
    height: 200px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 350px;
    z-index: 1;
}

#message-container {
    flex: 1;
    margin: 10px;
    overflow-y: auto;
}

.message {
    color: white;
}

.message div {
    display: inline;
}

.time {
    color: grey;
    font-size: 14px;
}

.nick {
    color: #39f;
}

.message-content {
    word-wrap: break-word;
}

#input-container {
    padding: 10px;
}

#input-container input {
    background-color: #222;
    border: 1px solid #111;
    border-radius: 5px;
    color: white;
    padding: 5px;
    width: 100%;
}

/* MESSAGE TYPES */

.error .message-content:before,
.error .message-content:after,
.general .message-content:before,
.general .message-content:after {
    content: ' ** '
}

.general {
    color: #2CE72C;
}

.error {
    color: #FF0000;
    font-weight: bold;
}